html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f0f0f0;
  align-items: center;
  dispaly: flex;
  justify-content: center;
}
.content {
  text-align: center;
  background-color:white;
  padding:20px;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 50vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}




h1 {
  margin-bottom: 20px;
}

label,input,button {
  margin:10px;
}

canvas  {
  border: 1px solid #ccc;
  
}

.button-container {
  display: flex;
  gap: 10px;
  align-items: center;
  dispaly: flex;
  justify-content: center;
}

.selectable-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.selectable-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.selectable-button.selected {
  background-color: #28a745;
}